#skills {
    width: 100%;
    background: whitesmoke;    
}

#skill-content{
    width: 50%;
    margin-left: 25%;
    color: #4e4e50;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


* {
    box-sizing: border-box
}

.skill-container {
  width: 100%;
  background-color: #ddd;
}

.skills-bar {
  text-align: right;
  color: white;
}

.algorithm {
    width: 70%; 
    background-color: #4e4e50;
}

.data-structure {
    width: 75%; 
    background-color: #4e4e50;
}

.django {
    width: 75%; 
    background-color: #4e4e50;
}

.cpp {
    width: 80%; 
    background-color: #4e4e50;
}

.java {
    width: 75%; 
    background-color: #4e4e50;
}


.web {
    width: 70%; 
    background-color: #4e4e50;
}


@media screen and ( max-width: 500px ){
    
    #skill-content{
        width: 80%;
        margin-left: 10%;
        
    }

}
